.bg-cp-booking {
    background-image: url(../assets/business-landing-page-flat-design_23-2147774147-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.img-suggest {
    background-image: url("https://lh3.googleusercontent.com/proxy/iTLTU3pMMaVNW4FAAlKcYx1Fa25VpVUB9bxV5qG7prQbsdz4wuxHXoiVt19Qq9-R-_D-ek9H_Ihul-NX1vflbHQZxb9qFkIpEaer");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}