/* Đặt @import ở đầu file */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss"; /* Import Tailwind CSS */

/* Cấu hình các thuộc tính mặc định */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Roboto Slab;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --login-background: url(../img/bg-login.jpg); /* Đảm bảo hình ảnh đúng đường dẫn */
}


/* Các kiểu cho body */
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

#root {
  height: 100vh;
  background: radial-gradient(#5a47ce, #232323 80%);
}
/*
body {
  margin: 0;
} */

.outline-text {
  -webkit-text-stroke: 1px white;
}

/* Cấu hình cho light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Kiểu cho phần login-bg */
.login-bg {
  /* background-image: var(--login-background); */
  background-color: black;
  font-family: 'Roboto Slab', sans-serif;
}
